body {
	background-color: rgb(54, 77, 155);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position: relative;
}

.wrapper {
	height: 100%;
	margin: 10px 20px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 10px;
}

.form,
.result {
	background-color: rgb(194, 194, 194);
}


/* ================== FORM ========================== */

.form {
	display: flex;
	border: 1px solid rgb(136, 136, 136);
	flex-direction: column;
	gap: 15px;
	padding: 25px 0;
	border-radius: 10px;
}

.form-header {
	margin: 0 5px;
	font: 600 15px Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	user-select: none;
}


.input-name,
.input-surname,
.input-email,
.btn,
.btn-delete,
.btn-deleteAll {
	margin: 0 auto;
	padding: 0 0 0 10px;
	width: 90%;
	height: 30px;
	border: 1px solid #000;
	border-radius: 10px;
	transition: .3s;
	user-select: none;
}

.btn,
.btn-delete,
.btn-deleteAll {
	letter-spacing: 1px;
	text-transform: uppercase;
	font: 600 14px Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
	margin: 20px auto 0 auto;
}

.input-name:hover,
.input-surname:hover,
.input-email:hover,
.btn:hover {
	background-color: rgb(188, 204, 255);
	-webkit-box-shadow: 5px 5px 8px 2px #000000;
	box-shadow: 5px 5px 8px 2px #000000;

}

.input-name:focus,
.input-surname:focus,
.input-email:focus {
	background-color: rgb(188, 204, 255);
	-webkit-box-shadow: 4px 4px 2px 1px #000000;
	box-shadow: 4px 4px 2px 1px #000000;
}

.btn-delete:hover,
.btn-deleteAll:hover {
	background-color: rgb(255, 86, 86);
	-webkit-box-shadow: 5px 5px 8px 2px #000000;
	box-shadow: 5px 5px 8px 2px #000000;
}

/* ========================= Result ======================== */
.result {
	position: relative;
	border: 1px solid rgb(136, 136, 136);
	border-radius: 10px;
	height: 100%;
}

.profile {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(325px, 325px));
	justify-content: center;
	padding: 10px;
}

.error-output {
	margin: 0px auto;
	font: 400 18px Verdana, Geneva, Tahoma, sans-serif;
	color: red;
}

/* --------------- Cards ------------------- */
.card-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 5px;
	transition: .3s;
	overflow: auto;
	position: relative;
}

.card-body:hover {
	background-color: rgb(188, 204, 255);
	-webkit-box-shadow: 5px 5px 8px 2px #000000;
	box-shadow: 5px 5px 8px 2px #000000;
}

.card-body-text {
	display: flex;
	flex-direction: column;
	gap: 15px;
	/* padding: 0 10px 0 0; */
}

.card-body-span {
	display: block;
	font: 400 15px Verdana, Geneva, Tahoma, sans-serif;
	user-select: none;
}


/* Card nav ======================= */
/* .card-body-nav {
	margin: 2px 5px 0 0;
	display: flex;
	flex-direction: column;
	gap: 9px;
	justify-content: center;
	align-items: center;
} */

.fas {
	cursor: pointer;
	user-select: none;
	transition: .3s;
	position: absolute;
}

.fa-trash {
	right: 13px;
	top: 10px;
}

.fa-id-card {
	right: 0px;
	top: 43px;
}

.fas:hover {
	color: rgb(255, 86, 86);
}

.profile-info {
	top: 60px;
	right: 13px;
}


/* =========== Modal =============== */

.modal__profile {
	position: fixed;
	display: none;
	flex-direction: column;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 10px;
	padding: 35px 40px 20px 15px;
	gap: 10px;
	top: 50%;
	left: 50%;
	transform: translate(0, -100%);
	z-index: 99;
}

.active__modal {
	display: flex;
}

.close__modal {
	display: none;
}

.transform {
	animation-name: transform;
	animation-duration: .4s;
}

@keyframes transform {
	from {
		transform: translate(0, -350%);
	}

	to {
		transform: translate(0, -100%);
	}
}

.modal__close {
	font-size: 25px;
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	user-select: none;
	transition: .3s;
}

.modal__close:hover {
	color: rgb(255, 86, 86);
}

.modal__profile-under {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	opacity: 0.4;
	z-index: 98;
}

.modal__profile-under-active {
	display: block;
}

/* ============== @media ================= */

@media (max-width: 1125px) {
	.profile {
		grid-template-columns: 65vw;
		justify-content: center;
	}
}

@media (max-width: 881px) {
	.wrapper {
		grid-template-columns: 1fr;
	}

	.form {
		width: 65vw;
		margin: 0px auto;
	}
}